@charset "UTF-8"; 

#frmligacoesprofissionais
{
	float: left;
	padding-left:30px;
}

#LigacoesPendentes {
		border:1px solid black;
		background-color:red;
		float: left;
		padding-left:10px;
		padding-right:10px;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
		background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
		background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
		background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
		background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
		background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
		background-color:#fe1a00;
		border:2px solid #d83526;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Verdana;
		font-weight:bold;
		text-decoration:none;
	}
	#LigacoesPendentes a{
		color:#ffffff;
		text-decoration:none; 
	}
	#tabela_lig_pend{
		float: left;
		padding-left:30px;
		width:1700px;
	}
	#novoagendamento{
		float: left;
		padding-left:20px;
		position:relative;
	}


#salasblock{
padding-left: 115px;
width: 100%;
//width: 1420px;
width: 1720px;
//overflow: scroll;
}


.salasclinica{
min-width: 300px;
height: 50px;
float:left;
margin-bottom: 4px;
border:1px solid #C0C0C0;
background-color:#71d5df;
//background-color:#e6f4d7;
font: 24px verdana, sans-serif;
text-align:center;
position:relative;
/*
  background-image: -webkit-linear-gradient(#FBFBFB, #F3F3F3 40%, #E5E5E5);
  border: 1px solid #AAA;
  color: #555;
  -moz-box-shadow:0px -0.5px 0.5px #000000;
  -webkit-box-shadow:0px -0.5px 0.5px #000000;
  border-radius:5px 5px 0px 0px;
  -moz-border-radius:5px 5px 0px 0px;
  -webkit-border-radius:5px 5px 0px 0px;
*/
}


div.columns       { width: 1420px; }
div.columns       { width: 1720px; }
div.columns div   { height: 1050px; float: left; }
div.timeblock     { width: 115px; border:1px solid #C0C0C0; background-color: #ffffff; }
div.sala          { width: 300px; border:1px solid #C0C0C0; background-color:#FFFFF0; }
div.clear         { clear: both; }

div.divalldata       { width: 95%; }
div.divalldata div   { height: 60px; float: left; background-color:#e6f4d7; padding:10px; margin:5px; }
div.divfrmdate     { width: 450px; ;}
div.toolbar          { @charset "UTF-8";float:left; width: 400px; font: 28px verdana, sans-serif;text-align:center;}
div.clear         { clear: both; }

.nextdate
{
	 text-decoration: none;
	 font: 52px verdana, sans-serif
	 
}
	

#toolbar_nova
{
	clear: both;
}

/*
#divalldata
{
width: 80%;
height: 100px;
background-color:#e6f4d7;
	
}

#divfrmdate
{
width: 400px;
height: 100px;
//background-color:#ff8040;
}
*/

.frmdataagenda
{
color:#444 !important;
border:1px solid #777 !important;
box-shadow:none !important;
font: 17px verdana, sans-serif; 
text-decoration: none;
display:inline;
 }
 
 .frmsubmitagenda{
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:0px solid 000000;
    background:#95a758;
    color:#FFFFFF;
    font-size: 0.8em;
    //width: 100px;
    display:inline;
}
 


#toolbar_d
{ width: 300px; 
height: 100px;
background-color:#f9fad1;
position:relative;
//float:left;
}


#scheduletime{
width: 115px;
height: 36px;
margin-bottom: 1px;
border:1px solid #C0C0C0;
background-color: #C6E2FF;
text-align:center;
}


#timeblock{
padding-left:5px;
font: 18px verdana, sans-serif;
text-align:center;
float:left;
width:100px;
position:relative;
left:80%;
overflow:hidden;

}

	
#event_fill{
width: 300px;
//height: 25x;
border:1px solid #C0C0C0;
font: 12px verdana, sans-serif;
text-align:center;
background-color:#eab0a6;
float:left;
position:relative;

}

#canceled{
width: 300px;
//height: 25x;
border:1px solid #C0C0C0;
font: 12px verdana, sans-serif;
text-align:center;
background-color:#FFFACD;
float:left;
position:relative;

}


#confirm{
width: 300px;
//height: 25x;
border:1px solid #C0C0C0;
font: 12px verdana, sans-serif;
text-align:center;
background-color:#e8e800;
float:left;
position:relative;

}

#concluded{
width: 300px;
//height: 25x;
border:1px solid #C0C0C0;
font: 12px verdana, sans-serif;
text-align:center;
background-color:#71d5df;
float:left;
position:relative;

}



#clientnew{
width: 300px;
//height: 25x;
border:1px solid #C0C0C0;
font: 12px verdana, sans-serif;
text-align:center;
background-color:#ff8040;
float:left;
position:relative;

}




#div_report, #div_caixa{
width: 850px;
min-height: 600px;
border:1px solid #C0C0C0;	
float:left;
position:relative;
padding-left:100px;
clear: both	
}

#div_report2{
width: 1100px;
min-height: 600px;
border:1px solid #C0C0C0;	
float:left;
position:relative;
padding-left:100px;
//background-color:#0000ff;
clear: both
}

#div_report_sum, #div_caixa_sum{
width: 550px;
min-height: 600px;
border:1px solid #C0C0C0;	
float:left;
position:relative;
padding-left:100px;
//background-color:#0000ff;
clear: both;
}



#div_report_lig{
//width: 1300px;
width: 1300px;
min-height: 600px;
//height: 400px;
border:1px solid #C0C0C0;	
float:left;
position:relative;
padding-left:80px;
overflow: scroll;
clear: both;
}

#div_report_lig_title{
//width: 1300px;
width: 100%;
width: 150px;
//min-height: 600px;
height: 100px;
border:1px solid #C0C0C0;	
float:left;
position:relative;
padding-left:50px;
//overflow: scroll;
	
}


.linha_report_lig
{
width: 15%;
width: 150px;
height: 60px;
float:left;
margin-bottom: 2px;
border:1px solid #C0C0C0;
background-color:#71d5df;
//background-color:#e6f4d7;
font: 24px verdana, sans-serif;
text-align:center;
position:relative;

 }


.linha_prof_lig
{
width: 800px;
height: 60px;
float:left;
margin-bottom: 2px;
border:1px solid #C0C0C0;
background-color:#ff0000;
//background-color:#e6f4d7;
font: 24px verdana, sans-serif;
text-align:center;
position:relative;
 }
 
 
 

.linha_lig{
//width: 15%;
width: 150px;
height: 85px;
border:1px solid #C0C0C0;
font: 12px verdana, sans-serif;
text-align:center;
background-color:#FFFACD;
float:left;
position:relative;

}
.linha_lig0{

width: 15%;
width: 150px;
height: 85px;
border:1px solid #C0C0C0;
font: 12px verdana, sans-serif;
color:#000;
text-align:center;
background-color:#ffbbbb;
float:left;
position:relative;

}

.linha_lig0 a{
color:#000;
}


.linha_lig1{
width: 15%;
width: 150px;
height: 85px;
border:1px solid #C0C0C0;
font: 12px verdana, sans-serif;
text-align:center;
background-color:#FFFACD;
float:left;
position:relative;
}

.linha_lig1 a{
color:#000;
}


.linha_lig2{
//width: 15%;
width: 150px;
height: 85px;
border:1px solid #C0C0C0;
font: 12px verdana, sans-serif;
color:#000;
text-align:center;
background-color:#ff0;
float:left;
position:relative;

}

.linha_lig2 a{
color:#000;
}


#centralizareport, #centralizacaixa{
	padding-left:100px;
	width: 700px;;
	background-color:#ff8040;
}

#divsearchreport,#divsearchcaixa{ 
  width: 500px; 
  min-height: 350px; 
  float: left; 
  background-color:#e6f4da; 
  margin:10px; 
  position:relative;
}




.linha_report_title, .linha_caixa_title{
width: 200px;
min-height: 60px;
float:left;
margin-bottom: 4px;
border:1px solid #C0C0C0;
  background-image: -webkit-linear-gradient(#FBFBFB, #F3F3F3 40%, #E5E5E5);
  border: 1px solid #AAA;
  color: #555;
font: 24px verdana, sans-serif;
text-align:center;
position:relative;

-moz-box-shadow:0px -0.5px 0.5px #000000;
-webkit-box-shadow:0px -0.5px 0.5px #000000;
border-radius:5px 5px 0px 0px;
-moz-border-radius:5px 5px 0px 0px;
-webkit-border-radius:5px 5px 0px 0px;
 }
 
 .linha_report_title1{
width: 240px;
height: 60px;
float:left;
margin-bottom: 4px;
border:1px solid #C0C0C0;
background-color:#71d5df;
//background-color:#e6f4d7;
font: 24px verdana, sans-serif;
text-align:center;
position:relative;
 
}
 
.linha_report, .linha_caixa{
width: 200px;
min-height: 50px;
border:1px solid #C0C0C0;
font: 12px verdana, sans-serif;
text-align:center,justify;
background-color:#FFFACD;  
float:left;
position:relative;

-moz-box-shadow:0px -1px 1px #000000;
-webkit-box-shadow:0px -1px 1px #000000;
border-radius:3px 3px 3px 3px;
-moz-border-radius:3px 3px 3px 3px;
-webkit-border-radius:3px 3px 3px 3px;
}

.linha_report_sum{
width: 200px;
height: 40px;
border:1px solid #C0C0C0;
font: 12px verdana, sans-serif;
text-align:center;
background-color:#FFFAAA;
float:left;
position:relative;

}





.linha_report1{
width: 240px;
height: 40px;
border:1px solid #C0C0C0;
font: 12px verdana, sans-serif;
text-align:center;
background-color:#FFFACD;
float:left;
position:relative;

}




.img_empty{
width: 300px;	
margin-bottom: 1px;
}


#event_empt{
width: 300px;
height: 25x;
border:1px solid #C0C0C0;
font: 12px verdana, sans-serif;
text-align:center;
background-color:#FFFFF0;
float:left;
position:relative;

}

#frmtitle{
    	
padding-left: 18px;
color:#FF8000;
padding-bottom:4px;
display:block;
font: 17px verdana, sans-serif; 
text-decoration: none;
    	
}
	
.search { 
	padding:6px 15px 6px 30px;
	margin:3px; 
	background: url('./images/search.png') no-repeat 8px 6px; 
}


.divfrmfield{
    margin-left: 15px;
      
}

#divallfrmclient{
width:1100px;
height: 700px;
//background-color:orange;
padding-left:50px;
}

.frmclient{
color:#444 !important;
border:1px solid #777 !important;
box-shadow:none !important;
font: 17px verdana, sans-serif; 
text-decoration: none;
display:block;
   background-image: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
} 


 .frmligacoes
{
color:#444 !important;
border:1px solid #777 !important;
box-shadow:none !important;
font: 17px verdana, sans-serif; 
text-decoration: none;
//display:block;
display:inline;
 }
 
 
 .frmnegrito
{
color:#ff0000;
box-shadow:none !important;
font: 18px verdana, sans-serif; 
display:block;
font-weight: bold;
//        font-weight: 600;
	

 }
 
 
 .frmclientside
{
color:#444 !important;
border:1px solid #777 !important;
box-shadow:none !important;
font: 17px verdana, sans-serif; 
text-decoration: none;
display:block;

 }
 

#divsearch {
margin-bottom:5px;
width:600px;
height:150px;
background-color:#C0C0C0;
margin-left: 5px;
padding-left:10px;
//font: 20px verdana, sans-serif;


}

#frmclient{
width:600px;
min-height: 650px;
display:block;
background-color:#d2d88b;
border-bottom-right-radius: 2em;
border-color: #40C040;
padding-left:10px;
padding-bottom: 5px;
margin-left: 5px;
    
}

#frmcaixa{
width:600px;
height: 650px;
display:block;
background-color:#d2d88b;
border-bottom-right-radius: 2em;
border-color:40C040;
padding-left:10px;
margin-left: 5px;
padding-left:20px;
 	
    
}


#divtitlesearch{
    	
font-weight: 600;
padding-left: 5px;
//color:#FF8000;
*/
padding-bottom:10px;
display:block;
font: 20px verdana, sans-serif;
text-decoration: none;
    	
}

.divfrmfield{
    margin-left: 15px;
      
}
.frmtxtarea{
    margin-top: 4px;
    width:225px;
    height: 120px;
    margin-bottom: 5px;
    border:1px solid #777;
    font-size: 0.8em !important;
    box-shadow:none !important;
    color:#444 !important;
    background: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #fff
}

.divfrmbuttons{
    margin-left: 30px;
    width:450px;
    height: 30px;
    //background:#FF00AA;
      
}

.frmsubmit{
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:0px solid 000000;
    background:#95a758;
    color:#FFFFFF;
    font-size: 0.8em;
    //margin: 5px 10px 0 160px;
    width: 100px;
    
}


#divfrmpacote {
margin-bottom:5px;
width:400px;
height:400px;
background-color:#C0C0C0;
margin-left: 5px;
padding-left:10px;

}


#all{

}
#divallfrmpacote{
min-width:300px;
left: 25%;
min-height: 1000px;
background-color:#DDDDDD;
padding-left:2px;
padding-bottom:20px;
position: absolute;
/**/
}
#formPacote{
  position: relative;
  clear: both
}
#formularioCliente{
  margin-bottom:5px;
  width:700px;
  
  /*background-color:#C0C0C0;*/
  margin-left: 5px;
  padding-left:10px;
  //float:left;

}

#div_pacotes_clientes{
  
  float:left;
  /*
  padding-left:100px;
  width: 1100px;
  z-index: 1;
  background-color:#0000ff;
  border:1px solid #C0C0C0; 
  */
  min-height: 100px;
  position: relative;
  clear:both;
  width: 100%;
  display: block;
  padding-bottom: 10px;
}

#divfrmstatus
{
width:500px;
height:450px;
background-color:#b3c741;
padding-left:100px;
}


#historico_status{
width: 610px;
min-height: 100px;
border:1px solid #C0C0C0;	
float:left;
position:relative;
//padding-left:10px;
//background-color:#0000ff;
	
}

.linha_status{
width: 200px;
height: 60px;
float:left;
margin-bottom: 4px;
border:1px solid #C0C0C0;
background-color:#71d5df;
//background-color:#e6f4d7;
font: 24px verdana, sans-serif;
text-align:center;
position:relative;

 }
 
  


#report_inpulse
{
width:800px;
height: 1250px;
display:inline;
border-bottom-right-radius: 2em;
border-color:40C040;
padding-left:10px;
margin-left: 5px;
	
}

.context{
	margin-bottom: 0.04cm;
 margin-top: 0.5cm; 
 line-height: 100%;
  
  font: 14px verdana, sans-serif;
  //font-weight: bold;
 
	
}
 
 .sub2_titulo{
	
 margin-bottom: 0.04cm;
 margin-top: 0.3cm; 
 line-height: 100%;
  
  font: 14px verdana, sans-serif;
  
 }
 
 
 #div_foto p {
 margin-bottom: 0.04cm;
 margin-top: 0.3cm; 
 line-height: 100%;  
 font: 14px verdana, sans-serif;
 }
 
 .sub_titulo{
	
 //margin-bottom: 1 cm;
 margin-top: 25px; 
 line-height: 120%;
  
 font: 14px verdana, sans-serif;
 font-weight: bold;
 }
 
 
.form_valor{
//width: 250px;
//height: 60px;
text-decoration: underline;
//text-decoration: overline;

	
}

#cab_foto_header
{
width:900px;
height:120px;
//background-color:#C0C0C0;
//border:2px solid #000000;
	
}


#cab_cliente
{

width:450px;
height:40px;
margin-top: 20px;

text-decoration: underline;
border:2px solid #000000;
//float:left;
position:relative;
	
}

#pot_foto
{
width:1000px;
height:70px;
}
.pot_foto_header
{
border:1px solid #000000;
width:95px;
height:60px;
float:left;
position:relative;
margin-top: 20px;
	
}


.pot_foto
{
border:1px solid #000000;
width:95px;
height:60px;
float:left;
position:relative;
	
}
.pot_foto_header2
{
border:1px solid #000000;
width:120px;
height:60px;
float:left;
position:relative;
	
}

#pot_foto_value
{
width:1000px;
height:1500px;
}

#logo_inpulse_form
{
	
width:450px;
height:110px;
background-image:url(../images/logo_inpulse.jpg);
background-repeat:no-repeat;


}



#divfrmsecl{
margin-bottom:5px;
width:700px;
height:150px;
background-color:#C0C0C0;
margin-left: 5px;
padding-left:10px;
//float:left;	
}

#divfrmpeci{
width:700px;
min-height: 800px;
//display:block;
/*background-color:#BCEE68;*/
border-bottom-right-radius: 2em;
border-color:40C040;
padding-left:10px;
margin-left: 5px;
padding-top: 10px;
padding-bottom: 10px;
//float:left;
position:relative; 	
 }

#botao_pacotes{
  padding-left: 10px
}


#divallfrmagenda{
width:1100px;
height:1020px;
//background-color:#ffff00;
padding-left:50px;
position:relative;
	clear:both;
}
 #frmagenda{
width:600px;
max-height:1300px;
//background-color:#ffde9f;
//padding-left:30px;
position:relative;

background-color:#d2d88b;
border-bottom-right-radius: 2em;
border-color:40C040;
padding-left:10px;
margin-left: 5px;

}

#agenda_clientes{
width:460px;
height:1020px;
background-color:#ffde9f;
padding-left:10px;
//position:relative;
float:right;
border-bottom-right-radius: 2em;
border-color:40C040;
padding-left:10px;
margin-left: 5px;
overflow: scroll;
display:block;

text-decoration: none;
}
 #foto_antes_depois{
width:460px;
height:1020px;
background-color:#ffde9f;
padding-left:10px;
//position:relative;
float:right;
border-bottom-right-radius: 2em;
border-color:40C040;
padding-left:10px;
margin-left: 5px;
overflow: scroll;
font-weight: 600;
display:block;
font: 20px verdana, sans-serif;
text-decoration: none;
}

 #foto_antes_depois2{
width:460px;
height:1020px;
background-color:#ffde9f;
padding-left:10px;
//position:relative;
float:right;
border-bottom-right-radius: 2em;
border-color:40C040;
padding-left:10px;
margin-left: 5px;
overflow: scroll;
font-weight: 600;
display:block;
font: 20px verdana, sans-serif;
text-decoration: none;
}



.imgantesdpois
{
width:415px;
height:290px;
padding-left:8px
	
}
#fotosclipi
{
width:430px;
height:300px;
background-color:#ffffff;
display:block;

}


#divformsair{
width:900px;
height:350px;
//background-color:#d2d88b;
background-color:#d2d88b;
padding-left:30px;
padding-right:30px;
position:relative;

font: 16px verdana, sans-serif; 

//color:FFFFFF;
border-bottom-right-radius: 2em;
//border-color:40C040;
	
}

#div_assinatura
{
width:600px;
height:200px;
	
}


input[type="text"], input[type="textarea"],input[type="password"],input[type="date"],select{
  background-image: -webkit-linear-gradient(#FBFBFB, #F3F3F3 40%, #E5E5E5);
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 10px;
}
#secl_days_weak{
  background-image: -webkit-linear-gradient(#FBFBFB, #F3F3F3 40%, #E5E5E5);
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 10px;
  min-height: 155px;
}